<h1>Burgers!</h1>
<h2>Burgers to be devoured</h2>

<ul>
    {{#each burgers}}
    {{#unless devoured}}
    <li>
        {{burger_name}}
    </li>
    {{/unless}}
    {{/each}}
</ul>

<h2>Devoured Burgers</h2>

<ul>
    {{#each burgers}}
    {{#if devoured}}
    <li>
        {{burger_name}}
    </li>
    {{/if}}
    {{/each}}
</ul>

<h2>Add a Burger</h2>

<form class="create-form">

    <div class="form-group">
        <label for="burgerName">Burger Name:</label>
        <input type="taxt" id="burgerName" name="name">
    </div>

    <button type="submit">Create Burger</button>
</form>