<div class="container">
    <div class="row justify-content-center" style="padding-top: 50px; padding-bottom: 50px;">
        <div class="col text-center">
            <h1>DEVOUR-THE-BURGER</h1>
            <p>Create the burger of your dreams and then devour it!</p>
            <img class="img.animated-gif" src="https://media.giphy.com/media/3jckG1c9y8RZl9UE7W/giphy.gif"
                alt="changing burger">
            <hr class="my-4">
        </div>
    </div>

    <div class="row" style="padding-top: 10px; padding-bottom: 10px;">
        <div class="col text-center">
            <h3>Menu</h3>
            <ul class="list-group list-group-flush">
                {{#each burgers}}
                {{#unless devoured}}
                <li class="list-group-item">
                    {{burger_name}}
                    <button type="submit" class="devouredBurger btn btn-info" data-id="{{id}}">Devour!</button>
                </li>
                {{/unless}}
                {{/each}}
            </ul>
        </div>

        <div class="col text-center">
            <h3>Devoured Burgers</h3>
            <ul class="list-group list-group-flush">
                {{#each burgers}}
                {{#if devoured}}
                <li class="list-group-item">
                    {{burger_name}}
                </li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>

    <hr>

    <div class="row" style="padding-top: 10px; padding-bottom: 50px;">
        <div class="col text-center">
            <form class="create-form">
                <div class="form-group">
                    <label for="burgerName">Add the burger of your dreams</label>
                    <input type="taxt" id="burgerName" name="name">
                </div>
                <button type="submit" class="btn btn-dark">Create</button>
            </form>
        </div>
    </div>

</div>